.hero-section-wrapper{ 
    height: 100vh;
    width: 100vw;
    display: flex;
    flex: 1;
    z-index: -1;
}

.hero-section-container-1, .hero-section-container-2{ 
    flex: 0.5;
}
.hero-section-container-1{ 
    background-color: var(--darkblue);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.hero-section-container-1-content{ 
    margin-top: 8rem;
}
.hero-section-container-1-content{ 
    width: 85%;
}
.hero-section-container-1-content span{ 
    font-size: 80px;
    color: var(--white-white);
}
.hero-section-container-1-content span span{ 
    color: var(--darkgrey);
}
.hero-section-container-1-content p{ 
    font-size: 23px;
    color: var(--darkgrey);
    margin: 1rem 0rem;
}

.buttons{ 
    margin-top: 2rem;
    width: 100%;

}

.hero-section-container-2{ 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    /* border: 1px solid red; */
}
.hero-section-container-2 video{
    width: 100%; 
    /* height: 100%; */
}
.video-bg{ 
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background: #000;
    opacity: 0.3;
    z-index: 1;
}
.rating{ 
    position: absolute;
    z-index: 9;
    bottom: 3%;
    left: 10%; 
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.scroll-animation-icon{ 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--lightgrey);
    gap: 1rem;
    font-weight: 200;
}
.scroll-icon{ 
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--lightgrey);
    background-color: var(--blur-bg);
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    color: var(--white-white);
    cursor: pointer;
    transition: all 0.3s ease;
    animation: beating 2s linear infinite;
}

@keyframes beating {
    0%, 100%{ 
        transform: translateY(0);
    }
    50%{ 
        transform: translateY(-50%);
    }
}

.scroll-icon:hover{ 
    /* transform: scale(1.1); */
    animation-play-state: paused;
    color: var(--darkblue);
    background-color: var(--lightgrey);
    border-color: var(--blur-bg);
}

.stars-images-hero{ 
    z-index: 9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}



.review-stars{ 
    width: fit-content;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: var(--lightgrey);
    font-weight: 200;
 }
.stars-images-hero-video-bg{ 
    position: relative;
    z-index: 9;
    display: flex; 
    width: 50%;
}


.stars-images-hero-video-bg-items{ 
    width: 50px;
    height: 50px;
    border: 1px solid var(--lightgrey); 
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    right: 0;
    transform: translateY(-50%);
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}
.stars-images-item-1{ 
    z-index: 9;
}
.stars-images-item-2{ 
    transform: translate(-70%,-50%);
    z-index: 8;
}
.stars-images-item-3{ 
    transform: translate(-140%,-50%);
    z-index: 7;
}
.stars-images-item-4{ 
    transform: translate(-210%,-50%);
    z-index: 6;
}


/* media queries */
@media screen and (max-width: 1300px){ 
    .hero-section-container-1-content span{ 
        font-size: 50px;
    }
    .hero-section-container-1-content p{ 
        font-size: 18px;
    }
    .hero-section-container-1-content{ 
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
}
@media screen and (orientation: portrait){ 
    .hero-section-wrapper{ 
        flex-direction: column;
        height: 100vh;
        flex: 1;
        margin-top: 3.5rem;
    }

    .hero-section-container-2 video{ 
        /* height: 100%; */
        width: 100%;
    }

    .hero-section-container-1{ 
        text-align: center;
        flex: 0.45;
    }
    .hero-section-container-2{ 
        flex: 0.55;
    }
    .hero-section-container-1-content span{ 
        font-size: 35px;
    }
    .hero-section-container-1-content{ 
        margin-top: 2rem;
    }
    .hero-section-container-1-content p{ 
        font-size: 15px;
    }
    .buttons{ 
        margin-bottom: 1rem;
    }
    .rating{ 
        bottom: 3%;
        left: 50%;
        transform: translate(-50%);
    }

    .scroll-animation-icon{ 
        display: none;
    }
    .stars-images-hero{ 
        width: 100%;
        flex-direction: column-reverse;

    }
    .stars-images-hero-video-bg{ 
        margin-right: 30px;
        margin-bottom: 30px;
    }
    /* .stars-images-hero-video-bg-items{ 
        bottom: 1%;
    } */
    .review-stars{ 
        align-items: center;
    }
}