.quote-comp-wrapper{ 
    /* height: 100vh; */
    width: 100%;

}   
.quote-comp-wrapper-span{ 
    font-size: 80px;
    font-weight: 200;
    color: var(--white);
    padding: 0rem 5rem;
}

/* .company-review is in the TempComponent.css */


/* media queries */
@media screen and (orientation: portrait){ 
    .quote-comp-wrapper-span{ 
        font-size: 40px;
        width: 80%;

    }
    .quote-comp-wrapper{ 
        height: fit-content;
    }
}