.our-process-wrapper{ 
    height: 100vh;
    width: 100%;
    display: flex;
    flex: 1;
}   
.our-process-wrapper-img-bg{  
    flex: 0.5;
}



/* media queries */
@media screen and (orientation: portrait){ 
    .our-process-wrapper{ 
        flex-direction: column;
        height: fit-content;
    }
    .our-process-wrapper-img-bg{ 
        width: 100%;
    }
}