.process-section-1{ 
    width: 100vw;
    height: 100vh;
    display: flex;
    flex: 1;
}

.process-bg-img-1{ 
    flex: 0.5;
    /* border: 1px solid blue; */
}
.process-header{ 
    color: rgb(251, 251, 251);
    font-size: 80px;
    text-align: center;
    /* margin-bottom: 2.5rem; */
    position: absolute;
    bottom: 35%;
    /* transform: translate(-1  0%); */
}
.process-content{ 
    flex: 0.5;
    padding: 1rem 0rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.process-content-wrapper{ 
    width: 100%;
    height: 100%; 
    padding: 3rem 3rem ;
    box-sizing: border-box;
}

.process-content-wrapper h1, p{ 
    padding: 0;
    margin: 0;
}
.process-content-wrapper h1{ 
    font-weight: 200;
    font-size: 45px;
    margin-bottom: 2rem;
}
.process-content-wrapper p{ 
    color: var(--darkgrey);
    margin-bottom: 1.5rem;
}
.sub-para-2{ 
    margin-bottom: 2rem !important; 
}
.list span{ 
    font-weight: 200;
}
.process-list-items{ 
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    /* width: 40%; */
    width: 100%;
    gap: 1.5rem;
    margin: 1rem 0rem;
    color: var(--darkblue);
}
.process-tick{ 
    min-width: 30px;
    min-height: 30px;
    border-radius: 50%;
    border: 0.5px solid var(--darkgrey);
    background-color: var(--lightgrey);
    display: flex;
    justify-content: center;
    align-items: center;

}

.process-section-2{ 
    width: 100vw;
    height: 100vh;
    display: flex;
    flex: 1;
    flex-direction: row-reverse;
}













/* media queries */

@media screen and (max-width: 1025px)
{ 
    .process-content-wrapper h1{ 
        font-size: 35px;
    }
    .process-header{ 
        font-size: 50px;
    }
    .process-content-wrapper p{ 
        font-size: 15px;
    }
    .list span{ 
        font-size: 15px;
    }
    .process-list-items{ 
        margin: 0.35rem;
    }
}
@media screen and (orientation: portrait){ 
    .process-section-1, .process-section-2{ 
        flex-direction: column;
        height: fit-content;
    }
    /* .process-header{ 
        font-size: 50px;
    } */
    .process-content{ 
        width: 100%;
        padding: 1rem 1rem ;
        box-sizing: border-box;
    }
    .process-content-wrapper h1{ 
        font-size: 30px;
    }
    .process-content-wrapper p{ 
        font-size: 18px;
    }
    /* .process-list-items{ 
        font-size: 13px;
    } */
}
@media screen and (max-width: 382px) {
    .process-header{ 
        font-size: 40px;
    }
}

@media screen and (max-width: 305px) {
    .process-header{ 
        font-size: 30px;
    }
}