.project-details-section-wrapper{ 
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* padding: 1rem 0rem; */
    box-sizing: border-box;
    /* margin: 2rem 0rem;  */
}
.project-card{ 
    margin: 0rem 0rem;
    padding:4rem 2rem;
    box-sizing: border-box; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.project-card-1{ 
   
    background-color: var(--lightgrey);
}
.project-card-1 .project-details{ 
    text-align: justify;
}
.project-card-2{ 
    flex-direction: row-reverse;
}
/* .project-card-items{ 
    width: 50%;
} */
.project-content{ 
    width: 60%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}
.carousel-comp{ 
    width: 40%;
    position: relative;
}
.project-card-2 .project-content{ 
    align-items: flex-end;
    justify-content: flex-start;
    
}
.project-card-2 .project-details{ 
    align-items: flex-end;
    text-align: justify;
    height: 100%;
    padding: 0;
}
.project-content h1{ 
    font-size: 80px;
    font-weight: 200;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
}
.project-details{ 
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    /* padding: 0rem 2rem; */
    box-sizing: border-box;
    height: 60%;
    gap: 2rem;
    width: 80%;
    /* border: 1px solid red; */
}
.project-details h2{ 
    padding: 0;
    margin: 0;
    font-weight: 200;
    font-size: 40px;
}
.project-details p{ 
    padding: 0; 
    margin: 0;
    color: var(--darkgrey);
    font-size: 20px;
}
.second-para{ 
    margin-top: 2rem !important;
}

.mob-view-d-block{ 
    display: none;
}

.mob-view-d-none{ 
    display: block;
}


/* Swiper JS Classes */
.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .swiper {
    margin-left: auto;
    margin-right: auto;
  }

  /* Bwc Slider Arrow Buttons */
  .bwc-slider{ 
    /* position: absolute;
    cursor: pointer;
    width: 50px;
    height: 50px; 
    border-radius: 50%;
    background-color: white;
    border: 1px solid red;
    text-align: center; */
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    line-height: 50px;
    /* background: #fff; */
    /* background: linear-gradient(-45deg, #212725, #1c1c1c); */
    background-color: var(--lightgrey);
    color: var(--darkblue);
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
    color: var(--green);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .bwc-slider:active{
    /* transform: scale(0.9); */
  }
  .bwc-prev-arrow{ 
    left: 0;
    top: 50%;
    transform: translate(-40%, -50%);
    z-index: 1;
  }
  .bwc-next-arrow{ 
    right: 0;
    top: 50%;
    transform: translate(40%, -50%);
    z-index: 1;
  }






/* media queries */
@media screen and (orientation: portrait){ 
    .project-card{ 
        flex-direction: column;
    }
    .project-card-2 .project-content{ 
        align-items: flex-start;
        
    }
    .project-card-2 .project-details{ 
        align-items: flex-start;
        text-align: left;
        padding: 0;
    }
    .project-content{ 
        width: 100%;
    }
    .project-details{ 
        width: 100%;
    }
    .carousel-comp{ 
        width: 100%;
        margin-top: 2rem;
    }
    .project-content h1{ 
        font-size: 40px;
    }
    .project-details h2{ 
        font-size: 20px;
    }
    .project-details p{ 
        font-size: 18px;
    }
    .mob-view-d-block{ 
        display: block;
    }
    .mob-view-d-none{ 
        display: none; 
    }
}
