
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{ 
  transition: all 0.01s;
}
html{ 
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  position: relative;
  /* scroll-behavior: smooth; */
}

:root {
  --darkgrey: #8F9596; 
  --navborder: #253538; 
  --white: #f4f4f4;
  --white-white: #ffffff;
  --blur-bg: #25353874;
  --darkblue: #0c1e21;  
  --lightgrey:  #f4f8f8;  
  --grid-card-color:  #e1e7e7; 
  --footer-body-head: #142528; 
  --footer-body-body: #0C1E21;
  --contact-form-border-color: rgb(217, 219, 219);  
  --green-highlight: #00C063;
  --green-highlight-light: #34ff9d;
}




/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  /* border-radius: 10px; */
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--darkblue); 
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover{ 
  cursor: pointer;
}
