/* .nav-bar-head-room{ 
    position: absolute;
    width: 100%;
    height: 100px;
} */
.nav-section-wrapper{ 
    width: 100%;
    height: 100px;
    border:1px solid transparent;
    border-bottom-color: var(--navborder);
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    z-index: 10;
    background: transparent;
    position: fixed;
    z-index: 9999;
	transition: all 300ms ease-in-out;
}

.nav-section-container-1{ 
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100%; */
    margin-left: 1rem;
}
.nav-section-container-1 ul{ 
    list-style: none;
    display: flex;
    gap: 3rem;
}
.nav-section-container-1 ul li a{ 
    text-decoration: none;
    color: var(--darkgrey);
    position: relative;
    transition: all 0.4s ease;
}

.nav-section-container-1 ul li a::before{ 
    content: "";
    background-color: var(--darkgrey);
    width: 0;
    height: 0.5px;
    transition: all 0.4s ease;
    position: absolute;
    bottom: 0;
}
.nav-section-container-1 ul li a:hover{ 
    color: var(--white);
}
.nav-section-container-1 ul li a:hover::before{ 
    width: 100%;
    background-color: var(--white);

}


.notification-button{ 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.notification{ 
    width: 40px;
    height: 40px;
    background-color: var(--blur-bg);
    border-radius: 50%;
    border: 1px solid var(--white);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
}




.scroll-down .nav-section-wrapper {
    transform: translate3d(0, -100%, 0);
}

.scroll-up .nav-section-wrapper {
    /* filter: drop-shadow(0 -10px 20px rgb(170, 170, 170)); */
}

.menu-is-open .nav-section-wrapper {
    filter: none;
}

.menu-is-open {
    overflow: hidden;
}




.mob-view-nav{ 
    display: none;
}
@media screen and (orientation: portrait) {
    .mob-view-nav{ 
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: var(--darkblue);
    }
    .nav-section-wrapper{ 
        display: none;
    }
    .drawer-div{ 
        display: block;
        padding: 1.5rem;
        background: var(--black);
        height: 100vh;
        width: 40vw;
        z-index: -201;
    }
}